@using System.Web.Mvc
@using System.Web.Mvc.Html
@model TPM.Models.Partido
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        Crear Partido
        <div class="pull-right">
            <a class="link-panel" href="/Partido">
                <img src="~/Images/boton_volver.png" />
                Volver
            </a>
        </div>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Create", "Partido", FormMethod.Post, new {enctype = "multipart/form-data"}))
        {
            @*<input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />*@

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Partido</legend>
                <div class="well">
                    <div class="titleDatos"><span class="label label-default">Datos Partido</span></div>
                    <div style="padding-bottom: 15px; text-align: center;">
                    @Html.ValidationMessageFor(model => model.Rival, "Debe completar los campos obligatorios.")
                     </div>
                     <div class="createJugador" style="margin-top:15px">
                     <div class="row">
                            <div class="col-xs-2">
                                <p class="textCreateJugador">Temporada:</p>
                            </div>
                            <div class="col-xs-2">
                               @Html.DropDownListFor(model => model.TemporadaId, new SelectList(Model.TemporadasList, "TemporadaId", "TemporadaNombre", 1)) 
                            </div>
                            <div class="col-xs-2">
                                <p class="textCreateJugador">Equipo:</p>
                            </div>
                            <div class="col-xs-2">
                                 @Html.DropDownListFor(model => model.EquipoId, new SelectList(Model.EquiposList, "Id", "NombreEquipo", 1))
                            </div>
                    </div>
                    <div class="row">
                            <div class="col-xs-2">
                                <p class="textCreateJugador">Fecha N°:</p>
                            </div>
                            <div class="col-xs-2">
                               @Html.EditorFor(model => model.NumeroFechaString) 
                            </div>
                            <div class="col-xs-2">
                                <p class="textCreateJugador">Rival:</p>
                            </div>
                            <div class="col-xs-2">
                                 @Html.EditorFor(model => model.Rival)
                            </div>
                            <div class="col-xs-2">
                                <p class="textCreateJugador">Tipo :</p>
                            </div>
                            <div class="col-xs-2">
                                 <select name="TipoPartidoNombre" id="TipoPartidoNombre">
                                    <option value="Amistoso">Amistoso</option>
                                    <option value="Liga">Liga</option>
                                    <option value="Campeonato">Campeonato</option>
                                 </select>
                            </div>
                     </div>
                     <div class="row">
                            <div class="col-xs-2">
                                <p class="textCreateJugador">Fecha y hora partido:</p>
                            </div>
                            <div class="col-xs-2">
                                @Html.TextBoxFor(model => model.FechaHoraInicioString) 
                            </div>
                            <div class="col-xs-2">
                                <p class="textCreateJugador">Hora de citación:</p>
                            </div>
                            <div class="col-xs-2">
                                 @Html.TextBoxFor(model => model.HoraCitacionString)
                            </div>
                    </div>
                    <div class="row">
                            <div class="col-xs-2">
                                <p class="textCreateJugador">Local </p>
                            </div>
                            <div class="col-xs-2">
                                <input type="checkbox" id="Condicion" name="Condicion" value="Local">
                            </div>
                            <div class="col-xs-2">
                                <p class="textCreateJugador">Lugar: </p>
                            </div>
                            <div class="col-xs-2">
                                 @Html.EditorFor(model => model.Lugar)
                            </div>
                            <div class="col-xs-2">
                                <p class="textCreateJugador">Cancha: </p>
                            </div>
                            <div class="col-xs-2">
                                 @Html.EditorFor(model => model.Cancha)
                            </div>
                    </div>                    
                        <script type="text/javascript">
                            $(function() {
                                $("#FechaHoraInicioString").datetimepicker({
                                    format: 'd.m.Y H:i'
                                });
                                $("#HoraCitacionString").datetimepicker({
                                    datepicker: false,
                                    format: 'H:i'
                                });
                            });
                        </script>   
                        </div>                     
                </div>
                <div class="row" style="padding-left: 10px;padding-right: 10px;">
                    <div class="col-xs-4">
                        <input class="btn btn-primary" name="accion" type="submit" value="Guardar y volver al listado" />
                    </div>
                    <div class="col-xs-4" style="text-align: center;">
                         <input class="btn btn-primary" name="accion" type="submit" value="Guardar y cargar otro partido" />
                    </div>
                    <div class="col-xs-4" style="text-align: right">
                        <input class="btn btn-primary" name="accion" type="submit" value="Guardar y convocar Jugadores" />
                    </div>
                </div>
            </fieldset>
            <link href="~/Scripts/Bootstrap/datetimepicker-master/jquery.datetimepicker.css" rel="stylesheet" />
            <script src="~/Scripts/Bootstrap/datetimepicker-master/jquery.js"></script>
            <script type="text/javascript" src="~/Scripts/Bootstrap/datetimepicker-master/jquery.datetimepicker.js"></script>
        }
    </div>
</div>