@using System.Web.Mvc
@using System.Web.Mvc.Html
@model TPM.Models.Partido

@{
    ViewBag.Title = "DatosPartido";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid gridDatosJugadores = new WebGrid(Model.DatosJugadorPartidoList, rowsPerPage: 10);
}

<div class="panel panel-primary">
    <div class="panel-heading">
        Datos Partido
        <div class="pull-right">
            <a class="link-panel" href="/Partido">
                <img src="~/Images/boton_volver.png" />
                Volver
            </a>
        </div>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("DatosPartido", "Partido", FormMethod.Post, new {enctype = "multipart/form-data"}))
        {
           @*<input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />*@

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Partido</legend>
                <div class="titleSeccion">Planilla de partido</div>
                <div class="row">
                    <div class="col-xs-6">
                        <p><strong>Partido jugado vs:</strong> @Model.Rival</p>
                        <p><strong>Torneo:</strong> @Model.TemporadaNombre</p>
                        <p><strong>Cancha de:</strong> @Model.Cancha</p>
                        <p><strong>Fecha campeonato:</strong> Nº @Model.NumeroFecha</p>
                    </div>
                    <div class="col-xs-6" style="text-align: right;">
                        <p><strong>Fecha:</strong> @Model.Fecha</p>
                        <p><strong>Categoría: </strong>@Model.EquipoNombre <strong>Año: </strong>@Model.CategoriasString</p>
                        <p><strong>Horario:</strong> @Model.Hora</p>
                        <p><strong>Condición: </strong>@Model.Condicion</p>
                    </div>
                </div>
                <div class="row">
                    <p><strong>Resultado Final:</strong>
                        @if (Model.Condicion.Trim() == "Local")
                        {
                            @Model.EquipoNombre
                            <input type="text" id="GolesPropios" name="GolesPropios" value="@Model.GolesPropios"/>
                            <label>VS</label>
                            @Model.Rival
                            <input type="text" id="GolesRival" name="GolesRival" value="@Model.GolesRival"/>
                        }
                        else
                        {
                            @Model.Rival
                            <input type="text" id="GolesRival" name="GolesRival" value="@Model.GolesRival"/>
                            <label>VS</label>
                            @Model.EquipoNombre
                            <input type="text" id="GolesPropios" name="GolesPropios" value="@Model.GolesPropios"/>
                        }
                    </p>
                </div>
                <div class="row">
                    
                    @gridJugadores.GetHtml(
                              fillEmptyRows: false,
                              alternatingRowStyle: "fila-alternativa",
                              headerStyle: "encabezado-grid",
                              footerStyle: "pie-grid",
                              mode: WebGridPagerModes.All,
                              firstText: "<< Primera",
                              previousText: "< Anterior",
                              nextText: "Siguiente >",
                              lastText: "Última >>",
                              tableStyle: "table table-striped",

                              columns: new[]
                              {
                                  gridJugadores.Column("Nombre"),
                                  gridJugadores.Column("Apellido"),
                                  gridJugadores.Column("Categoria"),
                                  gridJugadores.Column("Posicion"),
                                  gridJugadores.Column("",
                                      header: "Acciones",
                                      format: @<text>
                                                   <input type="button" value="Titular" id=@item.Id onClick=" ConvocarJugadorTitular(@item.Id) " class="btn btn-success"/>
                                                   <input type="button" value="Suplente" id=@item.Id onClick=" ConvocarJugadorSuplente(@item.Id) " class="btn btn-danger"/>
                                               </text>
                                      )
                              })
                    }
                </div>


                

            </fieldset>
           
        }
    </div>
</div>
