@using System.Web.Mvc
@using System.Web.Mvc.Html
@using System.Web.UI.WebControls
@model TPM.Models.Partido

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid gridPartidosSinDatos = new WebGrid(Model.listPartidosSinDatos, rowsPerPage: 5);
}

<div class="panel panel-primary">
    <div class="panel-heading">Lista de Partidos
        <div class="pull-right">
          <a class="link-panel"  href="/Partido/Create">
              <img src="~/Images/boton_nuevo.png" />
              Nuevo partido
          </a>
      </div>
    </div>
    <div class="panel-body">
        @if (Model.listPartidosSinDatos != null)
                        {
                                  @gridPartidosSinDatos.GetHtml(
                                      fillEmptyRows: false,
                                      alternatingRowStyle: "fila-alternativa",
                                      headerStyle: "encabezado-grid",
                                      footerStyle: "pie-grid",
                                      mode: WebGridPagerModes.All,
                                      firstText: "<< Primera",
                                      previousText: "< Anterior",
                                      nextText: "Siguiente >",
                                      lastText: "Última >>",
                                      tableStyle: "table table-striped",

                                      columns: new[]
                                      {
                                          gridPartidosSinDatos.Column("FechaHoraInicio","Fecha"),
                                          gridPartidosSinDatos.Column("EquipoNombre", "Nombre del equipo"),
                                          gridPartidosSinDatos.Column("",
                                              header: "Acciones",
                                              format: @<text>
                                                            <a href="/Partido/Edit/@item.PartidoId"><img title="Editar" src="~/Images/boton_editar.png" /></a>
                                                            <a href="/Partido/Details/@item.PartidoId"><img title="Detalle" src="~/Images/boton_ver.png" /></a>
                                                            <a href="/Partido/Delete/@item.PartidoId"><img title="Eliminar" src="~/Images/boton_borrar.png" /></a>                    
                                                            <a class="btn btn-primary" href="/Partido/ConvocarJugadores/@item.PartidoId" style="color: #FFFFFF;">Convocar</a>
                                                            <a class="btn btn-primary" href="/Partido/DatosPartido/@item.PartidoId" style="color: #FFFFFF;">Cargar Datos</a>                                                            
                                                       </text>
                                              )
                                      })
                        }
                        else
                        {
                                  <div>@Html.DisplayName("No se han encontrado resultados")</div>
                        }

        @*<table>
            <tr>
                <td class="primerColumna">
                    @Html.Label("Temporada:")
                </td>
                <td>
                    @Html.DropDownListFor(model => model.TemporadaId, new SelectList(Model.TemporadasList, "TemporadaId", "TemporadaNombre", 1))
                </td>
            </tr>
            <tr>
                <td class="primerColumna">
                    @Html.Label("Equipo:")
                </td>
                <td>
                    @Html.DropDownListFor(model => model.EquipoId, new SelectList(Model.EquiposList, "Id", "NombreEquipo", 1))
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" value="Cargar Calendario" />
                </td> 
            </tr>
        </table>
        <div id="datepicker"></div>*@
    </div>
</div>


<script>
    $(function () {
        $("#datepicker").datepicker({
            numberOfMonths: [2, 6],
            language: 'es',
            showButtonPanel: true,
            showCurrentAtPos: 8,
            onSelect: function () {
                alert('aca cargamos el partido en la  fecha :' + this);
            }
        });
    });
</script>


