@using System.Web.Mvc
@using System.Web.Mvc.Html
@model TPM.Models.Partido
@using System.Web.Helpers
@{
    ViewBag.Title = "DatosPartido";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid gridDatosJugadores = new WebGrid(Model.JugadoresPartidoList, rowsPerPage: 17, ajaxUpdateContainerId: "grid");
}

<div class="panel panel-primary">
    <div class="panel-heading">
        Datos Partido
        <div class="pull-right">
            <a class="link-panel" href="/Partido">
                <img src="~/Images/boton_volver.png" />
                Volver
            </a>
        </div>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("DatosPartido", "Partido", FormMethod.Post, new {enctype = "multipart/form-data"}))
        {
           @*<input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />*@

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Partido</legend>
                <div class="titleSeccion">Planilla de partido</div>
                <div class="row">
                    <div class="col-xs-6">
                        <p><strong>Partido jugado vs:</strong> @Model.Rival</p>
                        <p><strong>Torneo:</strong> @Model.TemporadaNombre</p>
                        <p><strong>Cancha de:</strong> @Model.Cancha</p>
                        <p><strong>Fecha campeonato:</strong> Nº @Model.NumeroFecha</p>
                    </div>
                    <div class="col-xs-6" style="text-align: right;">
                        <p><strong>Fecha:</strong> @Model.Fecha</p>
                        <p><strong>Categoría: </strong>@Model.EquipoNombre <strong>Año: </strong>@Model.CategoriasString</p>
                        <p><strong>Horario:</strong> @Model.Hora</p>
                        <p><strong>Condición: </strong>@Model.Condicion</p>
                    </div>
                </div>
                <div class="row">
                    <p><strong>Resultado Final:</strong>
                        @if (Model.Condicion.Trim() == "Local")
                        {
                            @Model.EquipoNombre
                            <input type="text" id="GolesPropios" name="GolesPropios" value="@Model.GolesPropios"/>
                            <label>VS</label>
                            @Model.Rival
                            <input type="text" id="GolesRival" name="GolesRival" value="@Model.GolesRival"/>
                        }
                        else
                        {
                            @Model.Rival
                            <input type="text" id="GolesRival" name="GolesRival" value="@Model.GolesRival"/>
                            <label>VS</label>
                            @Model.EquipoNombre
                            <input type="text" id="GolesPropios" name="GolesPropios" value="@Model.GolesPropios"/>
                        }
                    </p>
                </div> 
               @* <div>
                    @foreach (var item in Model.JugadoresPartidoList)
                    {
                        <div>
                            <label>@item.NombreApellido</label>
                            <input type="text" name="CalificacionString" value="@item.CalificacionString"/>
                        </div>
                     }
                </div>  *@      

                <div id="grid">
                        @gridDatosJugadores.GetHtml(
                            fillEmptyRows: false,
                            alternatingRowStyle: "fila-alternativa",
                            headerStyle: "encabezado-grid",
                            footerStyle: "pie-grid",
                            mode: WebGridPagerModes.All,
                            firstText: "<< Primera",
                            previousText: "< Anterior",
                            nextText: "Siguiente >",
                            lastText: "Última >>",
                            tableStyle: "table table-striped",

                        
                            columns: new[]
                            {
                                gridDatosJugadores.Column("NumeroCamiseta"),
                                gridDatosJugadores.Column("Nombre"),
                                gridDatosJugadores.Column("Apellido"),
                                
                                gridDatosJugadores.Column("CambioString","Cambio"),
                                gridDatosJugadores.Column("GolString","Goles"),
                                gridDatosJugadores.Column("CalificacionString","CalificacionString", a=>MvcHtmlString.Create(String.Format("<input type='text' id='CalificacionString{0}' value='{0}' />", ""))),
                                gridDatosJugadores.Column("MinSegundaAmarilla","Segunda Amarilla", a=>MvcHtmlString.Create(String.Format("<input type='text' id='EmpID_{0}' value='{0}' />", ""))),
                                gridDatosJugadores.Column("MinRojaString","Roja", a=>MvcHtmlString.Create(String.Format("<input type='text' id='EmpID_{0}' value='{0}' />", ""))),
                                gridDatosJugadores.Column("Observaciones","Observaciones", a=>MvcHtmlString.Create(String.Format("<input type='text' id='EmpID_{0}' value='{0}' />", "")))       
                            })
                    </div>             

                <input class="btn btn-primary" name="accion" type="submit" value="Guardar" />

            </fieldset>
        }
    </div>
</div>


@*@<text>
                                  <input type="text" name="@Model.JugadoresPartidoList[item]"/>
                                        </text>)*@
