@using System.Web.Mvc
@using System.Web.Mvc.Html
@using TPM.Models
@model TPM.Models.Jugador

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid gridEquiposActual = new WebGrid(Model.EquiposList, rowsPerPage: 10);
    WebGrid gridEquiposHistorico = new WebGrid(Model.EquiposListHistorico, rowsPerPage: 10);
}

<div class="panel panel-primary">
    <div class="panel-heading">
        Detalles Jugador
        <div class="pull-right">
            <a class="link-panel" href="/Jugador">
                <img src="~/Images/boton_volver.png" />
                Volver
            </a>
        </div>
    </div>
    <div class="panel-body">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#home" role="tab" data-toggle="tab">Home</a></li>
            <li><a href="#profile" role="tab" data-toggle="tab">Profile</a></li>
            <li><a href="#messages" role="tab" data-toggle="tab">Messages</a></li>
            <li><a href="#settings" role="tab" data-toggle="tab">Settings</a></li>
        </ul>
        <div class="tab-content">
        <div class="tab-pane active" id="home">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)

                var imagenPath = "/Images/Jugadores/" + @Model.ImagenPath;

                <fieldset>
                    <legend>Jugador</legend>
                    <table>
                        <tr>
                        <td>
                            <div class="editor-label">
                                @Html.Label("Foto")
                            </div>
                            <div>
                                <div class="contenedor">
                                    <div id="marcoVP">
                                        <img id="vistaP" src="@imagenPath" alt="" />
                                    </div>
                                </div>
                            </div>

                            <div>
                                @Html.Label("Nombre: ")
                                @Html.DisplayName(Model.Nombre)
                            </div>
                            <div>
                                @Html.Label("Apellido: ")
                                @Html.DisplayName(Model.Apellido)
                            </div>
                            <div>
                                @Html.Label("Tipo de Documento: ")
                                @Html.DisplayName(Model.TipoDocNombre)
                            </div>
                            <div>
                                @Html.Label("Numero de Documento: ")
                                @Html.DisplayName(Model.NumeroDoc)
                            </div>
                            <div>
                                @Html.Label("Fecha de Naciemiento: ")
                                @Html.DisplayName(Model.FechaNacFormateada)
                            </div>
                            <div>
                                @Html.Label("Domicilio de Residencia: ")
                                @Html.DisplayName(Model.Domicilio)
                            </div>
                            <div>
                                @Html.Label("Localidad de Residencia: ")
                                @Html.DisplayName(Model.LocalidadNombre)
                            </div>
                            <div>
                                @Html.Label("Equipos en los que juega: ")
                                @if (Model.EquiposList.Count > 0)
                                {
                                    @gridEquiposActual.GetHtml(
                                        fillEmptyRows: false,
                                        alternatingRowStyle: "fila-alternativa",
                                        headerStyle: "encabezado-grid",
                                        footerStyle: "pie-grid",
                                        mode: WebGridPagerModes.All,
                                        firstText: "<< Primera",
                                        previousText: "< Anterior",
                                        nextText: "Siguiente >",
                                        lastText: "Última >>",
                                        tableStyle: "table table-striped",

                                        columns: new[]
                                        {
                                            gridEquiposActual.Column("Equipo.NombreEquipo", "Equipo"),
                                            gridEquiposActual.Column("FechaDesdeHistorial", "Fecha Desde"),
                                        })                                                          
                                }
                                else
                                {
                                    <div>
                                        @Html.Label("El jugador no juega en nigun equipo actualmente.")
                                    </div>
                                }
                            </div>
                            <div>
                                @Html.Label("Equipos en los que ha jugado: ")
                                @if (Model.EquiposListHistorico.Count > 0)
                                {
                                    @gridEquiposHistorico.GetHtml(
                                        fillEmptyRows: false,
                                        alternatingRowStyle: "fila-alternativa",
                                        headerStyle: "encabezado-grid",
                                        footerStyle: "pie-grid",
                                        mode: WebGridPagerModes.All,
                                        firstText: "<< Primera",
                                        previousText: "< Anterior",
                                        nextText: "Siguiente >",
                                        lastText: "Última >>",
                                        tableStyle: "table table-striped",

                                        columns: new[]
                                        {
                                            gridEquiposHistorico.Column("Equipo.NombreEquipo", "Equipo"),
                                            gridEquiposHistorico.Column("FechaDesdeHistorial", "Fecha Desde"),
                                            gridEquiposHistorico.Column("FechaHastaHistorial", "Fecha Hasta"),
                                        })                                                          
                                }
                                else
                                {
                                    <div>
                                        @Html.Label("El jugador no tiene histrorial.")
                                    </div>
                                }
                            </div>
                        </td>
                            </tr>
                    </table>

                </fieldset>
            }
        </div>
        <div class="tab-pane" id="profile">Profile</div>
        <div class="tab-pane" id="messages">...</div>
            <div class="tab-pane" id="settings">...</div>
            </div>
    </div>
</div>
<script>
    $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })
</script>
