@using System.Web.Mvc
@using System.Web.Mvc.Html
@using System.Web.Optimization
@using TPM.Models
@model TPM.Models.Jugador

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar Jugador</h2>

@using (Html.BeginForm("Edit", "Jugador", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    var a = "/Images/Jugadores/" + @Model.ImagenPath;

    <fieldset>
        <legend>Jugador</legend>      
        <table>
            <td>
                <div class="editor-label">
                    @Html.Label("Foto Actual")
                </div>
                <div>
                <html>
                        <head>
                            <meta charset="utf-8">
                            <script type="text/javascript" src="jquery-1.8.2.min.js"></script>
                            <style type="text/css">
                                .titulo{ font-size: 12pt; font-weight: bold; height: 30pt;}
                                #marcoVP{
                                    width: 200px;
                                    height: 200px;                                              
                                }
                                #vistaP{
                                    max-width: 200px;
                                    max-height: 200px;          
                                }
                            </style>
                        </head>
                        <body>
                            <div class="contenedor">
                                <div id="marcoVP">
                                    <img id="vistaP" src="@a" alt="" />
                                </div>
                            </div>
                        </body>
                    </html>          
                
                </div>
                
                <div class="editor-label">
                    @Html.LabelFor(model => model.Nombre)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Nombre)
                    @Html.ValidationMessageFor(model => model.Nombre)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Apellido)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Apellido)
                    @Html.ValidationMessageFor(model => model.Apellido)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.TipoDocId)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.TipoDocId, new SelectList (Model.TipoDocLista, "TipoDocId", "TipoDocNombre", Model.TipoDocNombre))
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.NumeroDoc)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.NumeroDoc)
                    @Html.ValidationMessageFor(model => model.NumeroDoc)
                </div>
        
                <div class="editor-label">
                    @Html.LabelFor(model => model.FechaNac)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.FechaNacFormateada)
                    @Html.ValidationMessageFor(model => model.FechaNacFormateada)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Domicilio)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Domicilio)
                    @Html.ValidationMessageFor(model => model.Domicilio)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.LocalidadId)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.LocalidadId, new SelectList (Model.LocalidadLista, "LocalidadId", "LocalidadNombre", Model.LocalidadNombre))
                </div>

                <p>
                    <input type="submit" value="Save" />
                </p>

            </td>
            <td>
                <div>
                    
                </div>
        
                <div class="editor-label">
                    @Html.Label("Foto Nueva")
                </div>
                <div>
                    <html>
                        <head>
                            <meta charset="utf-8">
                            <title>Vista previa antes de enviar</title>
                            <script type="text/javascript" src="jquery-1.8.2.min.js"></script>
                            <style type="text/css">
                                .titulo{ font-size: 12pt; font-weight: bold; height: 30pt;}
                                #marcoVistaPrevia{
                                    width: 200px;
                                    height: 200px;                                              
                                }
                                #vistaPrevia{
                                    max-width: 200px;
                                    max-height: 200px;          
                                }
                            </style>
 
                            <!-- El contenido del script más adelante -->
                            <script type="text/javascript">
                            </script>
 
                        </head>
                        <body>
                            <div id='botonera'>
                                <input type="file" name="file" id="file" accept="image/*"></input>
                                <input id="cancelar" type="button" value="Cancelar"></input>
                            </div>
                            <div class="contenedor">
                                <div class="titulo">
                                    <span>Vista Previa:</span> 
                                    <span id="infoNombre">[Seleccione una imagen]</span><br/>
                                </div>
                                <div id="marcoVistaPrevia">
                                    <img id="vistaPrevia" src="@a" alt="" />
                                </div>
                            </div>
                        </body>
                    </html>          
                </div>
            </td>

        </table>

    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        window.imagenVacia = 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==';

        window.mostrarVistaPrevia = function mostrarVistaPrevia() {

            var Archivos, Lector;

            //Para navegadores antiguos
            if (typeof FileReader !== "function") {
                jQuery('#infoNombre').text('[Vista previa no disponible]');
                jQuery('#infoTamaño').text('(su navegador no soporta vista previa!)');
                return;
            }

            Archivos = jQuery('#file')[0].files;
            if (Archivos.length > 0) {

                Lector = new FileReader();
                Lector.onloadend = function (e) {
                    var origen, tipo;

                    //Envia la imagen a la pantalla
                    origen = e.target; //objeto FileReader
                    //Prepara la información sobre la imagen
                    tipo = window.obtenerTipoMIME(origen.result.substring(0, 30));

                    jQuery('#infoNombre').text(Archivos[0].name);
                    jQuery('#infoTamaño').text('Tamaño: ' + e.total + ' bytes');
                    //Si el tipo de archivo es válido lo muestra, 
                    //sino muestra un mensaje 
                    if (tipo !== 'image/jpeg' && tipo !== 'image/png' && tipo !== 'image/gif') {
                        jQuery('#vistaPrevia').attr('src', window.imagenVacia);
                        alert('El formato de imagen no es válido: debe seleccionar una imagen JPG, PNG o GIF.');
                    } else {
                        jQuery('#vistaPrevia').attr('src', origen.result);
                        window.obtenerMedidas();
                    }

                };
                Lector.onerror = function (e) {
                    console.log(e)
                }
                Lector.readAsDataURL(Archivos[0]);

            } else {
                var objeto = jQuery('#file');
                objeto.replaceWith(objeto.val('').clone());
                jQuery('#vistaPrevia').attr('src', window.imagenVacia);
                jQuery('#infoNombre').text('[Seleccione una imagen]');
                jQuery('#infoTamaño').text('');
            };


        };

        //Lee el tipo MIME de la cabecera de la imagen
        window.obtenerTipoMIME = function obtenerTipoMIME(cabecera) {
            return cabecera.replace(/data:([^;]+).*/, '\$1');
        }

        //Obtiene las medidas de la imagen y las agrega a la 
        //etiqueta infoTamaño
        window.obtenerMedidas = function obtenerMedidas() {
            jQuery('<img/>').bind('load', function (e) {

                var tamaño = jQuery('#infoTamaño').text() + '; Medidas: ' + this.width + 'x' + this.height;

                jQuery('#infoTamaño').text(tamaño);

            }).attr('src', jQuery('#vistaPrevia').attr('src'));
        }

        jQuery(document).ready(function () {

            //Cargamos la imagen "vacía" que actuará como Placeholder
            jQuery('#vistaPrevia').attr('src', window.imagenVacia);

            //El input del archivo lo vigilamos con un "delegado"
            jQuery('#botonera').on('change', '#file', function (e) {
                window.mostrarVistaPrevia();
            });

            //El botón Cancelar lo vigilamos normalmente
            jQuery('#cancelar').on('click', function (e) {
                var objeto = jQuery('#file');
                objeto.replaceWith(objeto.val('').clone());

                jQuery('#vistaPrevia').attr('src', window.imagenVacia);
                jQuery('#infoNombre').text('[Seleccione una imagen]');
                jQuery('#infoTamaño').text('');
            });
        });

    </script>
    
    

}

