@using System.Web.Mvc
@using System.Web.Mvc.Html
@using TPM.Models
@model TPM.Models.Jugador

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid gridEquiposActual = new WebGrid(Model.EquiposList, rowsPerPage: 10);
    WebGrid gridEquiposHistorico = new WebGrid(Model.EquiposListHistorico, rowsPerPage: 10);
}

<div class="panel panel-primary">
    <div class="panel-heading">
        Detalles Jugador
        <div class="pull-right">
            <a class="link-panel" href="/Jugador">
                <img src="~/Images/boton_volver.png" />
                Volver
            </a>
        </div>
    </div>
    <div class="panel-body">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#datos" role="tab" data-toggle="tab">Datos Jugador</a></li>
            <li><a href="#estadisticas" role="tab" data-toggle="tab">Estadísticas</a></li>
            <li><a href="#lesiones" role="tab" data-toggle="tab">Lesiones</a></li>
        </ul>
        <div class="tab-content">
        <div class="tab-pane active" id="datos">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)

                var imagenPath = "/Images/Jugadores/" + @Model.ImagenPath;

                <fieldset>
                    <legend>Jugador</legend>
                    <div class="media">
                      <a class="pull-left" href="#">
                        <img id="vistaP" class="media-object" src="@imagenPath">
                      </a>
                      <div class="media-body">
                        <h3 class="media-heading"><span style="text-transform: uppercase;font-weight:bold">@Html.DisplayName(Model.Apellido)</span> @Html.DisplayName(Model.Nombre)  </h3>  
                        <div>                            
                            <label style="text-transform: uppercase;font-weight:bold">@Html.DisplayName(Model.TipoDocNombre):</label> 
                             @Html.DisplayName(Model.NumeroDoc)
                        </div>                       
                        <div>
                            @Html.Label("Fecha de Naciemiento: ")
                            @Html.DisplayName(Model.FechaNacFormateada)
                        </div>
                        <div>
                            @Html.Label("Domicilio de Residencia: ")
                            @Html.DisplayName(Model.Domicilio)
                        </div>
                        <div>
                            @Html.Label("Localidad de Residencia: ")
                            @Html.DisplayName(Model.LocalidadNombre)
                        </div>
                        <div>
                            @Html.Label("Peso: ")
                            @Html.DisplayName(Model.PesoString)
                        </div> 
                        <div>
                            @Html.Label("Estatura: ")
                            @Html.DisplayName(Model.EstaturaString)
                        </div>                  
                      </div>
                    </div>
                   
                            <div>
                                @Html.Label("Equipos en los que juega: ")
                                @if (Model.EquiposList.Count > 0)
                                {
                                    @gridEquiposActual.GetHtml(
                                        fillEmptyRows: false,
                                        alternatingRowStyle: "fila-alternativa",
                                        headerStyle: "encabezado-grid",
                                        footerStyle: "pie-grid",
                                        mode: WebGridPagerModes.All,
                                        firstText: "<< Primera",
                                        previousText: "< Anterior",
                                        nextText: "Siguiente >",
                                        lastText: "Última >>",
                                        tableStyle: "table table-striped",

                                        columns: new[]
                                        {
                                            gridEquiposActual.Column("Equipo.NombreEquipo", "Equipo"),
                                            gridEquiposActual.Column("FechaDesdeHistorial", "Fecha Desde"),
                                        })                                                          
                                }
                                else
                                {
                                    <div>
                                        @Html.Label("El jugador no juega en nigun equipo actualmente.")
                                    </div>
                                }
                            </div>
                            <div>                               
                                @if (Model.EquiposListHistorico.Count > 0)
                                {
                                    @Html.Label("Equipos en los que ha jugado: ")
                                    @gridEquiposHistorico.GetHtml(
                                        fillEmptyRows: false,
                                        alternatingRowStyle: "fila-alternativa",
                                        headerStyle: "encabezado-grid",
                                        footerStyle: "pie-grid",
                                        mode: WebGridPagerModes.All,
                                        firstText: "<< Primera",
                                        previousText: "< Anterior",
                                        nextText: "Siguiente >",
                                        lastText: "Última >>",
                                        tableStyle: "table table-striped",

                                        columns: new[]
                                        {
                                            gridEquiposHistorico.Column("Equipo.NombreEquipo", "Equipo"),
                                            gridEquiposHistorico.Column("FechaDesdeHistorial", "Fecha Desde"),
                                            gridEquiposHistorico.Column("FechaHastaHistorial", "Fecha Hasta"),
                                        })                                                          
                                }
                                else
                                {
                                    <div>
                                        @Html.Label("El jugador no tiene histrorial.")
                                    </div>
                                }
                            </div>              

                </fieldset>
            }
        </div>
        <div class="tab-pane" id="estadisticas">
            <div>Partidos convocado: </div>
        </div>
        <div class="tab-pane" id="lesiones">

        </div>
        </div>
    </div>
</div>
<script>
    $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })
</script>
