@model IEnumerable<TPM.Models.Jugador>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoDocId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoDocNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroDoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Domicilio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocalidadId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocalidadNombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoDocId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoDocNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroDoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Domicilio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocalidadId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocalidadNombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
