@using System.Web.Mvc
@using System.Web.Mvc.Html
@model TPM.Models.ViewModel.AssignarJugadoresViewModel

@{
    ViewBag.Title = "Asignar Jugadores";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid gridJugadores = new WebGrid(Model.ListaJugadores, rowsPerPage: 10);
    WebGrid gridJugadoresAsignados = new WebGrid(Model.ListaJugadoresAsignados, rowsPerPage: 10, fieldNamePrefix: "order");
}

<div class="panel panel-primary">
  <div class="panel-heading">Asignar Jugadores 
      <div class="pull-right">
          <a class="link-panel" href="/Equipo">
             <img src="~/Images/boton_volver.png" />
              Volver
          </a>
      </div>
  </div>
  <div class="panel-body">
      <div class="titleSeccion" style="margin-bottom: 25px;"> Equipo: <span style="font-weight: 200">@Html.DisplayFor(model => model.EquipoSeleccionado.NombreEquipo)</span></div>
      <div class="row">
          <div class="col-xs-6" style="margin-top: 25px">
              @using (Html.BeginForm(null, null, FormMethod.Get))
              {
                  <div class="well row" style="margin: 0 10px">
                      <div class="titleDatos"><span class="label label-default">Buscar jugadores</span></div>
                      <div class="pull-right" style="margin-top: -45px;">
                            <a class="link-panel" href="/Jugador/Create">
                                <img src="~/Images/boton_nuevo.png" />
                                Nuevo jugador
                            </a>
                      </div>
                      <div class="row" style="margin-top:20px">
                          <div class="col-xs-4" style="text-align: right">
                              <p class="labelForm">Nombre: </p>
                          </div>
                          <div class="col-xs-8" style="text-align: right">
                              <input class="inputForm" type="text" value="@Model.NombreFiltro" name="NombreFiltro" id="NombreFiltro">
                          </div> 
                      </div>
                      <div class="row">
                          <div class="col-xs-4" style="text-align: right">
                              <p class="labelForm">Apellido: </p>
                          </div>
                          <div class="col-xs-8" style="text-align: right">
                              <input class="inputForm" type="text" value="@Model.ApellidoFiltro" name="ApellidoFiltro" id="ApellidoFiltro" />
                          </div> 
                      </div>
                      <div class="row">
                          <div class="col-xs-12" style="text-align: right">
                                @Html.HiddenFor(model => model.EquipoSeleccionado.Id, new { id = "hidden" })
                                <input type="submit" value="Buscar" class="btn btn-primary" />
                          </div>
                      </div>
                    
                    @if (Model.ListaJugadores.Count > 0)
                    {
                        @gridJugadores.GetHtml(
                            fillEmptyRows: false,
                            alternatingRowStyle: "fila-alternativa",
                            headerStyle: "encabezado-grid",
                            footerStyle: "pie-grid",
                            mode: WebGridPagerModes.All,
                            firstText: "<< Primera",
                            previousText: "< Anterior",
                            nextText: "Siguiente >",
                            lastText: "Última >>",
                            tableStyle: "table table-striped",


                            columns: new[]
                            {
                                gridJugadores.Column("Nombre"),
                                gridJugadores.Column("Apellido"),
                                gridJugadores.Column("Posicion",
                                    header: "Posición"
                                    ),
                                gridJugadores.Column("",
                                    header: "Acciones",
                                    format: @<text>
                                                 <input class="btn btn-primary" type="button" value="Asignar" id=@item.Id onClick=" asignarjugador(@item.Id) "/>
                                             </text>
                                    )
                            })
                    }
                    else
                    {
                    <div>@Html.DisplayName("No se han encontrado resultados")</div>
                    }
                                         
                  </div>
              }               
           </div>
           <div class="col-xs-6">
               <h1>Jugadores Asignados</h1>
                @if (Model.ListaJugadoresAsignados.Count > 0)
                {

                    @gridJugadoresAsignados.GetHtml(
                        fillEmptyRows: false,
                        alternatingRowStyle: "fila-alternativa",
                        headerStyle: "encabezado-grid",
                        footerStyle: "pie-grid",
                        mode: WebGridPagerModes.All,
                        firstText: "<< Primera",
                        previousText: "< Anterior",
                        nextText: "Siguiente >",
                        lastText: "Última >>",
                        tableStyle: "table table-striped",

                         columns: new[]
                         {
                             gridJugadoresAsignados.Column("Nombre"),
                             gridJugadoresAsignados.Column("Apellido"),
                             gridJugadoresAsignados.Column("Posicion",
                                 header: "Posición"
                                 ),
                             gridJugadoresAsignados.Column("",
                                 header: "Acciones",
                                 format: @<text>
                                              <input class="btn btn-primary" type="button" value="Borrar" id=@item.Id onClick=" borrarjugador(@item.Id) "/>
                                          </text>
                                 )
                         })
                 }
                else
                {
                <div>@Html.DisplayName("Este equipo no tiene asignado ningun jugador")</div>
                }
         </div>
      </div>
  </div>  
</div>

<script type="text/javascript">
        var JugadoresAsignados = [];
        var JugadorEquipoEliminar = [];

        function asignarjugador(idParam) {
            $('.btnPrint').removeClass('disable');
            $('.btnPrint').addClass('enable');
            var equipoId = $('#hidden').val();
            var datos = "{'IdJugador':'"+ idParam +"','IdEquipo':'" + equipoId + "'}";

            $.ajax({
                url: '@Url.Action("AssignarJug", "Equipo")',
                type: 'POST',
                data: datos,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    location.href="";
                },
                error: function (jqXHR, textStatus, error) {

                    alert("error: " + jqXHR.responseText);
                }
            });
     }
        function borrarjugador(idParam) {
            var r = confirm("Seguro desea eliminar este jugador del equipo??");
            if(r == true){
                $('.btnPrint').removeClass('disable');
                $('.btnPrint').addClass('enable');
                var equipoId = $('#hidden').val();
                var datos = "{'IdJugador':'"+ idParam +"','IdEquipo':'" + equipoId + "'}";

                $.ajax({

                    url: '@Url.Action("BorrarJugEquipo", "Equipo")',
                type: 'POST',
                data: datos,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    location.href="";
                },
                error: function (jqXHR, textStatus, error) {

                    alert("error: " + jqXHR.responseText);
                }
            });
            }
        }
</script>

