@model TPM.Models.ViewModel.AssignarJugadoresViewModel

@{
    ViewBag.Title = "AssignarJugadores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AsignarJugadores</h2>


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <table>
        <tr>
            <th>
                @Html.Label("Equipo Seleccionado: " + Model.EquipoSeleccionado.NombreEquipo)
            </th>
        </tr>
        <tr>
            <th>
                      @Html.Label("Buscar Jugadores")
            </th>

        </tr>
        <tr>
            <th>
                @Html.Label("Nombre")
                @Html.TextBoxFor(model => model.NombreFiltro)
            </th>
        </tr>
        <tr>
            <th>
                @Html.Label("Categoria")
                @Html.DropDownListFor(model => model.CategoriaId, new SelectList(Model.CategoriaList, "CategoriaId", "NombreCategoria", 1))
            </th>
        </tr>
        
    </table>@*

    *@<input type="submit" value="Filtrar" />
    
    <table>
        <tr>
            <th>
                @Html.DisplayName("Nombre")
            </th>
            <th>
                @Html.DisplayName("Apellido")
            </th>

            <th>
                @Html.DisplayName("Tipo de Documento")
            </th>
            <th>
                @Html.DisplayName("Número de Documento")
            </th>
            <th>
                @Html.DisplayName("Fecha de Nacimiento")
            </th>
            <th>
                @Html.DisplayName("Domicilio")
            </th>
            <th>
                @Html.DisplayName("Localidad")
            </th>
            <th>
                @Html.Display("Equipo")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.ListaJugadores)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </th>

                <th>
                    @Html.DisplayFor(modelItem => item.TipoDocNombre)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.NumeroDoc)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.FechaNacFormateada)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Domicilio)
                </th>

                <th>
                    @Html.DisplayFor(modelItem => item.LocalidadNombre)
                </th>

                <th>
                    @Html.DisplayFor(modelItem => item.EquiposNombre)
                </th>
                <th>
                    <input type="button" value="Agregar" id=@item.Id onClick="asignarjugador(@item.Id)"/>


                    @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
                </th>
            </tr>
        }




    </table>

    <h1></h1>
           
    <table id="tablaJugadorAsignar">
        <tr>
            <th>
                @Html.DisplayName("Nombre")
            </th>
            <th>
                @Html.DisplayName("Apellido")
            </th>

            <th>
                @Html.DisplayName("Tipo de Documento")
            </th>
            <th>
                @Html.DisplayName("Número de Documento")
            </th>
            <th>
                @Html.DisplayName("Fecha de Nacimiento")
            </th>
            <th>
                @Html.DisplayName("Domicilio")
            </th>
            <th>
                @Html.DisplayName("Localidad")
            </th>
            <th>
                @Html.Display("Equipo")
            </th>
            <th></th>
        </tr>


        

    </table>
    
    <input type="submit" value="Asignar Jugadores"  />


}




<script type="text/javascript">

    function asignarjugador(idParam) {


        $.ajax({
            type: "GET",
            url: '@Url.Action("GetJugadorPorId", "Jugador")',
            data: { id : idParam },
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $('#tablaJugadorAsignar tr:last').after(data);
            },
            error: function (textStatus, errorThrown) {
                Success = false;//doesnt goes here
            }
        });
    }
</script>
