@using System.Web.Mvc
@using System.Web.Mvc.Html
@model TPM.Models.ViewModel.AssignarJugadoresViewModel

@{
    ViewBag.Title = "Asignar Jugadores";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid gridJugadores = new WebGrid(Model.ListaJugadores, rowsPerPage: 10);
    WebGrid gridJugadoresAsignados = new WebGrid(Model.ListaJugadoresAsignados, rowsPerPage: 10, fieldNamePrefix: "order");
}

<div class="panel panel-primary">
  <div class="panel-heading">Asignar Jugadores 
      <div class="pull-right">
          <a class="link-panel" href="/Equipo">
             <img src="~/Images/boton_volver.png" />
              Volver
          </a>
      </div>
  </div>
  <div class="panel-body">
@using (Html.BeginForm(null, null, FormMethod.Get))
{
    <h2>
        Equipo: @Html.DisplayFor(model => model.EquipoSeleccionado.NombreEquipo) 
    </h2>
    
    @Html.ValidationSummary(true)

    var jugadoresAsig = Model.ListaJugadoresAsignados;
    if (jugadoresAsig.Count > 0)
    {

        @gridJugadoresAsignados.GetHtml(
            fillEmptyRows: false,
            alternatingRowStyle: "fila-alternativa",
            headerStyle: "encabezado-grid",
            footerStyle: "pie-grid",
            mode: WebGridPagerModes.All,
            firstText: "<< Primera",
            previousText: "< Anterior",
            nextText: "Siguiente >",
            lastText: "Última >>",
            tableStyle: "table table-striped",

             columns: new[]
             {
                 gridJugadoresAsignados.Column("Nombre"),
                 gridJugadoresAsignados.Column("Apellido"),
                 gridJugadoresAsignados.Column("FechaNacFormateada",
                     header: "Fecha de nacimiento"
                     ),
                 gridJugadoresAsignados.Column("",
                     header: "Acciones",
                     format: @<text>
                                  <input type="button" value="Borrar" id=@item.Id onClick=" borrarjugador(@item.Id) "/>
                              </text>
                     )
             })
     }
    else
    {
    <div>@Html.DisplayName("Este equipo no tiene asignado ningun jugador")</div>
    }
    
    <h3>@Html.DisplayName("Jugadores")</h3>
    <div class="pull-right">
          <a class="link-panel" href="/Jugador/Create">
              <img src="~/Images/boton_nuevo.png" />
              Nuevo jugador
          </a>
      </div>
    <div>
        @Html.Label("Nombre")
        @Html.TextBoxFor(model => model.NombreFiltro)
    </div>
    <div>
        @Html.Label("Apellido")
        @Html.TextBoxFor(model => model.ApellidoFiltro)
    </div>
   

    @*@Html.Label("Categoria")
    @Html.DropDownListFor(model => model.CategoriaId, new SelectList(Model.CategoriaList, "CategoriaId", "NombreCategoria", 1))*@

    @Html.HiddenFor(model => model.EquipoSeleccionado.Id, new { id = "hidden" })

    <input type="submit" value="Buscar" />
    var jugadores = Model.ListaJugadores;
    if (jugadores.Count > 0)
    {
        @gridJugadores.GetHtml(
            fillEmptyRows: false,
            alternatingRowStyle: "fila-alternativa",
            headerStyle: "encabezado-grid",
            footerStyle: "pie-grid",
            mode: WebGridPagerModes.All,
            firstText: "<< Primera",
            previousText: "< Anterior",
            nextText: "Siguiente >",
            lastText: "Última >>",
            tableStyle: "table table-striped",


            columns: new[]
            {
                gridJugadores.Column("Nombre"),
                gridJugadores.Column("Apellido"),
                gridJugadores.Column("FechaNacFormateada",
                    header: "Fecha de nacimiento"
                    ),
                gridJugadores.Column("",
                    header: "Acciones",
                    format: @<text>
                                 <input type="button" value="Asignar" id=@item.Id onClick=" asignarjugador(@item.Id) "/>
                             </text>
                    )
            })
    }
    else
    {
    <div>@Html.DisplayName("No se han encontrado resultados")</div>
    }

    <script type="text/javascript">
        var JugadoresAsignados = [];
        var JugadorEquipoEliminar = [];

        function asignarjugador(idParam) {
            $('.btnPrint').removeClass('disable');
            $('.btnPrint').addClass('enable');
            var equipoId = $('#hidden').val();
            var datos = "{'IdJugador':'"+ idParam +"','IdEquipo':'" + equipoId + "'}";

            $.ajax({
                url: '@Url.Action("AssignarJug", "Equipo")',
                type: 'POST',
                data: datos,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    location.href="";
                },
                error: function (jqXHR, textStatus, error) {

                    alert("error: " + jqXHR.responseText);
                }
            });
     }
        function borrarjugador(idParam) {
            var r = confirm("Seguro desea eliminar este jugador del equipo??");
            if(r == true){
                $('.btnPrint').removeClass('disable');
                $('.btnPrint').addClass('enable');
                var equipoId = $('#hidden').val();
                var datos = "{'IdJugador':'"+ idParam +"','IdEquipo':'" + equipoId + "'}";

                $.ajax({

                    url: '@Url.Action("BorrarJugEquipo", "Equipo")',
                type: 'POST',
                data: datos,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    location.href="";
                },
                error: function (jqXHR, textStatus, error) {

                    alert("error: " + jqXHR.responseText);
                }
            });
            }
        }

</script>
}

