@model TPM.Models.Equipo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Equipo</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CategoriaNombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CategoriaNombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Liga)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Liga)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Division)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Division)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
