@model IEnumerable<TPM.Models.Equipo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Equipos</h2>

<p>
    @Html.ActionLink("Crear Nuevo Equipo", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayName("Categoria")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Division)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Liga)
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoriaNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Division)
        </td>
                <td>
            @Html.DisplayFor(modelItem => item.Liga)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id }) |
            @Html.ActionLink("Asignar Jugadores", "AssignarJugadores", new { id=item.Id })
        </td>
    </tr>
}

</table>
