@using System.Web.Mvc
@using System.Web.Mvc.Html
@model TPM.Models.ViewModel.AssignarJugadoresViewModel

@{
    ViewBag.Title = "AssignarJugadores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AssignarJugadores</h2>


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    @Html.DisplayFor(model => model.EquipoSeleccionado.NombreEquipo)

    @Html.Label("Nombre")
    @Html.TextBoxFor(model => model.NombreFiltro)

    @Html.Label("Categoria")
    @Html.DropDownListFor(model => model.CategoriaId, new SelectList(Model.CategoriaList, "CategoriaId", "NombreCategoria", 1))

    @Html.HiddenFor(model => model.EquipoSeleccionado.Id, new { id = "hidden" })

    <input type="submit" value="Filtrar" />
    
    <table>
        <tr>
            <th>
                @Html.DisplayName("Nombre")
            </th>
            <th>
                @Html.DisplayName("Apellido")
            </th>

            <th>
                @Html.DisplayName("Tipo de Documento")
            </th>
            <th>
                @Html.DisplayName("Número de Documento")
            </th>
            <th>
                @Html.DisplayName("Fecha de Nacimiento")
            </th>
            <th>
                @Html.DisplayName("Domicilio")
            </th>
            <th>
                @Html.DisplayName("Localidad")
            </th>
            <th>
                @Html.Display("Equipo")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.ListaJugadores)
        {
            <tr id="@item.Id">
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TipoDocNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroDoc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaNacFormateada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Domicilio)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.LocalidadNombre)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.EquiposNombre)
                </td>
                <td>
                    <input type="button" value="Asignar" id=@item.Id onClick="asignarjugador(@item.Id)"/>


                    @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
                </td>
            </tr>
        }




    </table>

    
           
    <table id="tablaJugadorAsignar">
        <tr>
            <th>
                @Html.DisplayName("Nombre")
            </th>
            <th>
                @Html.DisplayName("Apellido")
            </th>

            <th>
                @Html.DisplayName("Tipo de Documento")
            </th>
            <th>
                @Html.DisplayName("Número de Documento")
            </th>
            <th>
                @Html.DisplayName("Fecha de Nacimiento")
            </th>
            <th>
                @Html.DisplayName("Domicilio")
            </th>
            <th>
                @Html.DisplayName("Localidad")
            </th>
            <th>
                @Html.Display("Equipo")
            </th>
            <th></th>
        </tr>
   
    @foreach (var item in Model.JugadoresAsignados)
    {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TipoDocNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroDoc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaNacFormateada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Domicilio)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.LocalidadNombre)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.EquiposNombre)
                </td>
                <td>
                   <a href=""><img title="Eliminar" src="~/Images/boton_borrar.png" /></a>
                </td>
            </tr>
    }
 </table>
    <input type="button" value="guardar jugadores" id="btnGuardar" />
    
    
    <script type="text/javascript">
     var JugadoresAsignados = [];

     function asignarjugador(idParam) {
         $.ajax({
             type: "GET",
             url: '@Url.Action("GetJugadorPorId", "Jugador")',
             data: { id : idParam },
             contentType: "application/json; charset=utf-8",
             success: function (data) {
                 $('#tablaJugadorAsignar tr:last').after(data);
            
                 JugadoresAsignados.push("{'Id':" + idParam + "}");
                 $('#'+idParam).css("display","none");

             },
             error: function (textStatus, errorThrown) {
             Success = false;//doesnt goes here
             }

         });
     }

    $(document).ready(function() {
        $('#btnGuardar').bind('click', function () {
            $('.btnPrint').removeClass('disable');
            $('.btnPrint').addClass('enable');
            var equipoId = $('#hidden').val();
            var datos = "{'listJug':[" + JugadoresAsignados + "],'IdEquipo':'" + equipoId + "'}";

            $.ajax({

                url: '@Url.Action("AssignarJug", "Equipo")',
                type: 'POST',
                data: datos,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                
                },
                error: function (jqXHR, textStatus, error) {

                    alert("error: " + jqXHR.responseText);
                }
            });
        });

    });
</script>
}





