@model TPM.Models.Equipo

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear Nuevo Equipo</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Equipo</legend>

        <div class="editor-label">
            @Html.Label("Categoria")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.CategoriaId, new SelectList(
                Model.CategoriaLista,
                "CategoriaId",
                "NombreCategoria"))
            
        </div>
        
        
        <div class="editor-label">
            @Html.Label("Division")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.DivisionId, new SelectList(
                Model.DivisionLista,
                "DivisionId",
                "NombreDivision"))
            
        </div>
        
        
        <div class="editor-label">
            @Html.Label("Liga")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.LigaId, new SelectList(
              Model.LigaLista,
              "LigaId",
              "NombreLiga"))
            
        </div>

        <p>
            <input type="submit" value="Crear" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Volver", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
