@model TPM.Models.Equipo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
  <div class="panel-heading">Detalle del equipo
      <div class="pull-right">
          <a class="link-panel" href="/Equipo">
             <img src="~/Images/boton_volver.png" />
              Volver
          </a>
      </div>
  </div>
  <div class="panel-body">

<fieldset>
    <legend>Equipo</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CategoriaNombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CategoriaNombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Liga)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Liga)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Division)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Division)
    </div>

</fieldset>
      </div>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id })
</p>*@
